PORT=8085
SPRING_PROFILES_ACTIVE=dev

#postgres app
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=notification_tracker_db
POSTGRES_SCHEMA=task_service
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/task_tracker_db?currentSchema=notification_tracker

#liquibase
DEFAULT_SCHEMA=notification_tracker
LIQUIBASE_SCHEMA=liquibase_schema_notification

# Email Configuration
GMAIL_HOST=smtp.gmail.com
GMAIL_PORT=587
GMAIL_USERNAME=
GMAIL_PASSWORD=

#kafka
KAFKA_PROCESS_ROLES: broker,controller
KAFKA_NODE_ID: 1
KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
KAFKA_LOG_DIRS: /var/lib/kafka/data
CLUSTER_ID: IWC_vhPaR32QRcZwxCoOOg

KAFKA_CONSUMER_GROUP_ID=user-service-prod
KAFKA_TASK_GROUP_ID=task-service-prod
KAFKA_BOOTSTRAP_SERVERS=localhost:29092

KAFKA_TOPIC_EMAIL_SENDING=prod-email-sending
KAFKA_TOPIC_OUTBOX=transformed-outbox.authorization_service.outbox_events